@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
  .border-base{
    @apply border-border-base
  }
  .border-dark{
    @apply border-border-dark
  }
  .border-code{
    @apply border-border-code
  }
  .bg-base{
    @apply bg-bg-base
  }
  .bg-active{
    @apply bg-bg-active
  }
  .bg-card{
    @apply bg-bg-card
  }
  .bg-code{
    @apply bg-bg-code
  }
  .bg-selection{
    @apply bg-bg-selection
  }
  .bg-dm{
    @apply bg-bg-dm
  }
  .bg-btn-disabled{
    @apply bg-bg-btn-disabled
  }
  .text-bs{
    @apply text-text-bs
  }
  .text-code{
    @apply text-text-code
  }
  .text-secondary{
    @apply text-text-secondary
  }
  .text-secondary-light{
    @apply text-text-secondary-light
  }
  .text-btn-disabled{
    @apply text-text-btn-disabled
  }
  .text-btn-disabled-deeper{
    @apply text-text-btn-disabled-deeper
  }
  .text-btn{
    @apply text-text-btn
  }
}


@layer components{
  .flex-center{
    @apply justify-center items-center
  }
  .hover-animation {
    @apply transition-colors duration-200 hover:bg-active
  }
  .main-container{
    @apply min-w-[450px] lg:min-w-[500px] xl:min-w-[600px]
  }
  .settings-container{
    @apply  xl:min-w-[520px]
  }
  .navLink{
    @apply flex h-[42px] w-[52px] xl:w-[240px] rounded-xl px-4 my-2 py-2 hover-animation 
  }
  .settingsItem{
    @apply flex h-[42px] min-w-[285px] rounded-xl px-4 my-2 py-2 hover-animation 
  }
  .colorMode{
    @apply flex xl:w-1/3 h-[50px] px-4 py-2 border border-base flex-center cursor-pointer 
  }
  .tooltip{
    @apply absolute flex h-8 p-2 px-4 text-xs border whitespace-nowrap flex-center text-bs border-base bg-base rounded-xl
  }
  .tooltip-arrow{
    @apply w-[10px] h-[10px] border-t border-l bg-base border-base
  }
  .editPost-texterea{
    @apply w-full border-b resize-none outline-none bg-base whitespace-break-spaces border-base
  }
  .editPost-button{
    @apply w-20 h-8 p-2 leading-4  rounded-xl text-sm
  }
  .editPost-icon{
    @apply flex w-8 h-8 rounded-full flex-center hover:bg-selection
  }
  .post-icon{
    @apply flex w-8 h-8 rounded-full flex-center
  }
  .editor{
    @apply mx-auto w-[600px] h-[150px] bg-base border border-base rounded-xl text-left p-3 overflow-auto focus:outline-none focus:border-primary
  }
  .at-button {
    @apply outline-none rounded-xl my-1 py-2 border border-blue-500 bg-transparent h-7 leading-7 text-blue-500 cursor-pointer
  }
  .alert{
    @apply p-4 rounded-2xl shadow-xl 
  }
  .alertDiv{
    @apply flex space-x-2
  }
  .alert-success{
    @apply bg-success
  }
  .alert-error{
    @apply bg-error
  }
  .alert-info{
    @apply bg-info
  }
  .alert-warning{
    @apply bg-warning
  }
  .profile-btn{
    @apply px-4 py-1 border rounded-3xl hover:border-primary hover:text-primary
  }
  .profile-action{
    @apply flex space-x-1 flex-center px-4 py-1 border-none rounded-3xl 
  }
  .profile-input{
    @apply w-3/5 p-1 border outline-none bg-base border-base
  }
  .userProfileModal{
    @apply absolute top-10 rounded-xl -left-16 z-[10] flex flex-col bg-base min-w-[350px] max-w-[460px] p-4 space-y-4 border border-base 
  }
}
